{% extends "website/base.html" %}

{% block content %}
    {% if messages %}  
        {% for message in messages %}  
            <p>{{ message }}</p>  
        {% endfor %}  
    {% endif %}
    {% if dishes %}
        {% for dish in dishes %}
            <h1>{{ dish.restaurant.name }}</h1>
            
            {% if user.is_authenticated and not user.is_staff%}
                <p>{{ dish.name }} - {{ dish.price }} <a href={% url "add_to_order" dish.restaurant.id dish.id %}?page={{ request.path }}>Agregar</a></p>
            {% else %}
                <p>{{ dish.name }} - {{ dish.price }}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Este restaurant no tiene platillos disponibles.</p>
    {% endif %}
{% endblock content %}