<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Virtual Kiosks</title>
        <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}"></link>
        <script src="{% static 'website/js/bootstrap.min.js' %}"></script>  
    </head>
        
    {% block navbar %}
        {% include "website/includes/navigation.html" %}
    {% endblock %}

    <body>
        <main>
            
                {% block content %}
                {% endblock %}
      

        </main>
        {% block footer %}
            {% include "website/includes/footer.html" %}
        {% endblock %}
    </body>


</html>

