{% load static %}

<header data-bs-theme="dark">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="{% url 'restaurants' %}" class="navbar-brand d-flex align-items-center">
                <strong>Virtual Kiosk</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="text-bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-mdAbout-7 py-4">
                    <a href={% url "restaurants" %}>Restaurantes</a>
                    {% if user.is_authenticated %}
                        <h4>{{ user.username }}</h4>

                        {% if not user.is_staff %}
                        <a href="{% url "order_detail" request.session.order_id%}">Tu orden ({{ request.session.order_count }})</a>
                        {% endif %}

                        <a href={% url "logout" %}>Cerrar sesion</a>

                    {% else %}
                        <a href={% url "login" %}>Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>